body{
    background-image: linear-gradient(100deg,#1CBCD4,#BC0707);
    font-family: 'Franklin Gothic Medium';
}
h1{
    text-align: center;
    color: whitesmoke;
}
h2{
    text-align: center;
    color: whitesmoke;
}

.list-wrapper{
    width: 95%;    
    max-width: 800px;
    margin: 50px auto;
}

.list{
    background-color: #FFF;
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.list .list-item{    
    padding: 10px 5px;
    display: flex;
}
    
.list .list-item:not(:last-child){
    border-bottom: 1px solid #eee;
}

.list .list-item-image{    
    height: 100px;    
    flex-shrink: 1;
}
.list .list-item-image img{    
    width: 125px;
    height: 100px;
}

.list .list-item-content{
    padding: 0 20px;
    flex-grow: 1;
}

.list .list-item-content h4{
    margin: 0;
    font-size: 18px;
    margin-top: 15px;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.list .list-item-content p{
    margin-top: 5px;
    color: #888;
    margin-bottom: 0;
}
table, td{
    border-width:15px;
    border-style: groove;
    border-color:whitesmoke;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    padding: 15px;
    
}
table{
    width: 800px;
    height: 400px;
    margin: 0 auto 0 auto;
    text-align: center;
}
