* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Verdana;
  font-size: 2em;
  background-image: linear-gradient(100deg,#1CBCD4,#BC0707);
}

.wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;  
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 100px) auto 100px;
  grid-template-areas: 
    "h h a"
    "n n a"
    "s s a"
    "f f f";
}

header {
  
  grid-area: h;
}




aside {
  background-position: center;
  grid-area: a;
}

footer {
  
  grid-area: f;
}